@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
:root{
    --white: #fff;
    --black: #000;
    --blue: #31326f;
    --light-blue: #258aff;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #e3eef8;
    --light-grey: #ccc;
    --dark-grey: #222831;
    --pink:#e9204f;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    font-size:10px;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    width:100%
}

section{
    width: 100%;
    padding: 8rem 0;
}
.container{
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding:0 2rem;
}

/* Header Section */

header{
    width:100%;
    background-color: var(--black);
    padding: 5px 0;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
}
nav .logo{
    width: 15rem;
}
.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-ul li a {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0;
    margin-left: 3rem;
    color: var(--white);
}

.nav-link,
.current{
    position: relative;
}

.nav-link::before,
.current::before{
    position:absolute;
    content: "";
    left: 0;
    bottom:-3px;
    width: 50%;
    height: 2px;
    background-color: var(--pink);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s;
}
.current::before{
    transform: scaleX(1);
}
.nav-link:hover::before{
    transform: scaleX(1);
}

.hamburger,
.close,
.search{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}
.hamburger{
    display: none;
}

.search{
    font-size: 2rem;
}

.close{
    position: absolute;
    top: 1.5rem;
    right: 0;
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    padding: 1.5rem 3rem 0 0;
    display: none;
}

/* Intro Section */

#intro{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    z-index: -2;
}

#intro .container {
    background: url('../images/background-small.jpeg') no-repeat;
    background-position-x: 70%;
   /* background-position-y: 40%; */
    background-size: 100%;
}
.line{
    position: relative;
    padding-top: 3rem;
}
.line::before{
    content: "";
    position: absolute;
    top: 5rem;
    left:0;
    width: 5rem;
    height: 3px;
    background-color: var(--pink);
}

.intro-text{
    width: 80%;
    padding: 8rem 0;
}
.intro-text h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5rem;
}

.btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    border: 2px solid var(--pink);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 99.5%;
    height: 100%;
    background-color: var(--pink);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover {
    background-color: var(--color-sec);
    transform: translateX(0);
    transition: 0.3s ease-in-out;
}

/* intro boxes */
.intro-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
    margin-top: 2rem;
    z-index: 1;
}

.card{
    background-color: var(--dark-grey);
    padding: 6rem 3rem;
}

.card i {
    font-size: 4rem;
    color: var(--pink);
    padding-bottom: 3rem;
}

.card p {
    font-size: 1.2rem; 
}

.heading-2 {
    font-size: 2.3rem;
    font-weight: 700;
}

.heading-3 {
    font-size: 2.3rem;
    font-weight: 700;
}

.card h3{
    padding-bottom: 4rem;
}

.card .heading-2{
    padding-bottom: 3.2rem;
}

.card .line::before {
    top: 7rem;
}

.cards:nth-child(3){
    position: relative;
    background-color: var(--dark-grey);
}

.card:nth-child(3)::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -1.5rem;
    width: 105%;
    height: 7rem;
    background-color: var(--pink);
    z-index: -1;
}

.card:nth-child(3)::after{
    position: absolute;
    content: "";
    right: -5%;
    bottom: -1.5rem;
    width: 5%;
    height: 7rem;
    background-color: var(--pink);
    z-index: 1;
}

#countdown{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    border: 2px solid var(--pink);
    cursor: pointer;
    position:relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

/* card hover effect */
.card:hover,
.card:first-child {
    background-color: var(--pink);
    color: var(--white);
}

.card:hover i,
.card:first-child i {
    color: var(--white);
}

.card:hover .line::before,
.card:first-child .line::before{
    background-color: var(--white)
}


/* Homepage about us */

.heading > * {
    padding-bottom: 2rem;
}
.heading h2{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 4rem;
}

.heading p{
    font-size: 2rem;
    font-weight: 700;
    color: var(--pink);
}

.mini-about{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
}

.image1{
    grid-row: 1/3;
    grid-column: 1/3;
}

.image{
    position: relative;
    height: 100%;
    cursor: pointer;
}

.image img{
    filter: grayscale(80%);
}
.image::before{
    position: absolute;
    content:"";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
}

.image-text {
    position: absolute;
    left: 1rem;
    bottom: 0.5rem;
    color: var(--white);
    z-index: 11;
}

.image:hover img{
    filter: grayscale(0);
}

/* Homepage about texts */
.mini-about-text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
    margin-top: 2rem;
}

.mini-about-text > * {
    padding: 0 1rem;
}

.about-text h3{
    padding-bottom: 1rem;
}
.mini-about-text p{
    color: lightgray;
}

.ab .btn{
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.h-line{
    position: relative;
}

.h-line::before{
    content:"";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 5rem;
    background-color: var(--pink);
    transform: translateX(-50%);
}

/* carousel */

.arrow{
    width: 2rem;
    margin: 0 1rem;
}

.carousel {
    max-width:800px; /* Matches your container */
    margin: 0 auto;
    position: relative;
}

.carousel-inner {
    border-radius: 5px; /* Matches your theme */
    overflow: hidden; /* Prevents image overflow */
}

.carousel-item img {
    width: 100%;
    height: 400px; /* Fixed height for consistency */
    object-fit: cover; /* Scales images without distortion */
    object-position: center; /* Centers image */
    display: block;
}

.carousel-item {
    transition: opacity 0.6s ease-in-out; /* Smooth fade */
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    background: none;
    border: none;
}

.carousel-control-prev img,
.carousel-control-next img {
    width: 40px;
    height: auto;
    transition: opacity 0.3s;
}

.carousel-control-prev img:hover,
.carousel-control-next img:hover {
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 768px) {
    .carousel {
        max-width: 100%;
        padding: 0 1rem;
    }

    .carousel-item img {
        height: 300px; /* Smaller for mobile */
    }

    .carousel-control-prev img,
    .carousel-control-next img {
        width: 30px;
    }
}

/* Our work text */
.sample_portfolio_text-container{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.sample-text {
    padding-bottom: 2rem;
}

.sample-text h2{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 4rem;
}

.sample-text p{
    font-size: 2 rem;
    font-weight: 700;
    color: var(--pink);
}

/* Footer/Contact section */
#contact {
    background-color: var(--dark-grey);
    padding: 10rem 0;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact i {
    color: var(--white);
    font-size: 2.5rem;
    border: 2px solid var(--pink);
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition: all .3s;
}

.contact i:hover{
    transform: translateY(-1rem);
}

.contact h2{
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
}

footer{
    background-color: var(--black);
    color: var(--white);
    padding: 3rem 0;
    text-align: center;
}

/* Search Modal */

.search-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);
    z-index: 1;
}

.modal-content {
    width: 80%;
    max-width: 60rem;
    margin: 20% auto;
    position: relative;
    text-align: center;
    animation: slide ease 0.8s;
    background-color: transparent;
}

@keyframes slide {
    0% {
        transform: translateY(-30rem);
    }
    100% {
        transform: translateY(0);
    }
}

.close-modal{
    position: absolute;
    top: 2rem;
    right: 3rem;
    color: var(--white);
    font-size: 5rem;
    cursor: pointer;
}

form input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--white);
    outline: none;
    padding: 0.1rem;
    color: var(--white);
    font-size: 1.6rem;
    position: relative;
    background-color: transparent;
    
} 


::placeholder{
    color: var(--white);
    font-size: 1.6rem;
}

form i{
    position: absolute;
    right: 2rem;
    bottom: 1rem;
}

/* About Page style */
/* About Page style */
/* About Page style */


.about-section{
    padding: 20px;
}
/*
.about-section h2{
    margin-bottom: 30px;
}
*/

#div1, #div2, #div3{
    display:none;
}

.flex-container { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    border:10px;
    padding: 35px;
}

.flex-item-left{
    display: flex;
    width: 50%;
    height: 250px;
    flex-direction:column;
    padding: 10px;
    margin: 10px;
    border: 5px;
    text-align: left;
}

.flex-item-right{
    display: flex;
    width: 50%;
    height: 250px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 5px;
    position: relative;
}

.about-container{
    background-color: black;
    color: white;
    border: 10px solid var(--dark-grey);
    padding: 35px;
    padding: 10px;
    margin: 10px;   

}

.about-text{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    line-height: 1.8;
    font-size: 20px;
    background-color: lightgray;
    padding: 50px;

}


.alternate-about-blurb{
    text-align: left;

}

.about-blurb {
    text-align: right;
    margin-right: 35px;


}

.about-img {
    height: 190px;
    width: 190px;
    display: block;
    margin: auto;
    padding: 5px;
    border: 5px solid var(--pink); 
    border-radius: 50%; 
}

.mini-form-flex-container{
    display: flex;
    flex-direction: column;
}

.mini-form-flex-1{
    display: flex;
}

.mini-form-flex-2{
    display: flex;
}

.static-btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    border: 4px solid black;
    background-color: var(--pink);
}



/* Portfolio page */
/* Portfolio page */
/* Portfolio page */

/* intro section */

.static-btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    border: 4px solid black;
    background-color: var(--pink);
}

/* portfolio text box */

#portfolio-header{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    z-index: -2;
}
#portfolio-header .container {
        background: url("../images/background-small.jpeg") no-repeat;
        background-position-x: 70%;
        /* background-position-y: 40%; */
        background-size: 100%;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
    margin-top: 2rem;
}

.portfolio-text{
    background-color: #eee;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    transition: all .3s;
}

.portfolio-text i:first-child{
    color: var(--pink);
    font-size: 2rem;
}

.portfolio-text:hover{
    background-color: var(--pink);
    color: var(--white);
    cursor: pointer;

}

.portfolio-text:hover i:first-child{
    color: var(--white);
}

.h-line{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

/* portfolio Images */

.portfolio-image{
    margin-top: 1rem;
    position: relative;
}

.portfolio-image:hover{
    --webkit-box-shadow: -18px 3px 109px -65px rgba(0,0,0,.75);
    -moz-box-shadow: -18px 3px 109px -65px rgba(0,0,0,.75);
    box-shadow: -18px 3px 109px -65px rgba(0,0,0,.75);
    transition: .3s;
}

.portfolio-image span{
    position: absolute;
    top: 40%;
    left:45%;
    font-size: 40px;
    color: var(--black);
    cursor: pointer;
    opacity: 0;
}

.portfolio-image:hover span{
    opacity: 1;
    transition: .3s;
}

.portfolio-image:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(238, 235, 230, .6);
    opacity: 0;
    position: absolute;
}
.portfolio-image:hover::before {
    opacity: 0.8;
}

/*
#footers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 3rem 0;
}

#footers p{
    text-align: center;
}

#footers i {
    color: var(--white);
    font-size: 2.5rem;
    border: 2px solid var(--pink);
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    text-align: left;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transition: all .3s;
}

#footers i:hover{
    transform: translateY(-1rem);
}
*/

/* Contact Page */
/* Contact Page */
/* Contact Page */
/* Contact Page */

#fineprint {
    font-size: small;
}
  
#contact-social-media{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
  
#contact-form{
    font-size: x-large;
    padding: 35px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
  
}
  
.static-btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--white);
    border: 4px solid black;
    background-color: var(--pink);
}
  
  .hyperlink-text{
    color: var(--pink);
}
  
.form-container {
    font-size: large;
    padding: 35px;
    text-align: center;
}
  
.required:after {
      content:" *";
      color: red;
      font-size: medium;
}
  
.red-text {
      color: red;
      font-size: medium;
}
  
  
.form-intro{
    text-align: center;
}
  
.invalid-name{
    color: red;
    font-size: medium;
  }
  
  
  input[id^="contact-name"]::placeholder{
    font-style: italic;
    font-size: medium;
    color: black;
  }

  input[id^="contact-email"]::placeholder{
    font-style: italic;
    font-size: medium;
    color: black;
  }
  
  input[id^="phone"]::placeholder{
    font-style: italic;
    font-size: medium;
    color: black;
  }

  input[id^="company"]::placeholder{
    font-style: italic;
    font-size: medium;
    color: black;
  }

  input[id^="enquiry"]::placeholder{
    font-style: italic;
    font-size: medium;
    color: black;
  }
  
  input[id^="contact-name"] {
    width: 50%;
    height: 50px;
    color: black;
    box-sizing: border-box;
    border: 4px solid var(--pink);
} 

input[id^="contact-email"] {
    width: 50%;
    height: 50px;
    color: black;
    box-sizing: border-box;
    border: 4px solid var(--pink);
} 

input[id^="phone"] {
    width: 50%;
    height: 50px;
    color: black;
    box-sizing: border-box;
    border: 4px solid var(--pink);
} 

input[id^="company"] {
    width: 50%;
    height: 50px;
    color: black;
    box-sizing: border-box;
    border: 4px solid var(--pink);
} 

input[id^="enquiry"] {
    width: 50%;
    height: 50px;
    color: black;
    box-sizing: border-box;
    border: 4px solid var(--pink);
} 
  
form label {
    width: 50%;
    font-size: large;
}

/* General Form Styles */
input, select, textarea {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    border: 2px solid var(--pink);
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

/* Form Container */
#project-request {
    background-color: var(--color-grey);
    padding: 5rem 0;
    text-align: center;
}

#project-request .container {
    max-width: 700px;
    background: var(--white);
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form Fields */
#project-form input,
#project-form select,
#project-form textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 2px solid var(--pink);
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

/* Submit Button */
#project-form .btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    background: var(--pink);
    color: var(--white);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#project-form .btn:hover {
    background: var(--color-sec);
}

/* Confirmation Message */
#confirmation-message {
    font-size: 1.8rem;
    color: var(--color-primary);
    margin-top: 2rem;
}

/* PriceChecker page */
/* PriceChecker page */
/* PriceChecker page */
/* PriceChecker page */

.checkboxes{
    text-align: left;
  
  }
  .questions{
    text-align: left;
  }
  .inputs-dara{
    text-align: left;
    width: 20em;
    color:black;
    border: 2px solid red;

  }
  
  #header-text{
    margin-bottom: -10%;
  }
  
  #coding-image {
    height: 600px;
    margin-top: 10px;
  }
  
  
  .services-header{
    font-size :24px;
    margin-bottom: 20px;
    padding-top: 50px;
    margin-bottom: 50px;
    color:white;
  }
  
  .card-margin{
    margin-top: 20%;
  }
  
  .odd{
    background-color:#222831;
  }
  
  .black-background{
    background-color:#222831;
  
  }
  .container-fluid{
    padding-left: 10%;
  }
  #message{
    text-align: center;
    font-size: 40px;
  }
  
  .price-checker-buttons{
    text-align: left;
  }
  .shadow{
    box-shadow: 20px 40px;}
    
  .button-div{
    text-align: left;
  }
  .form-intro-price{
      text-align: left;
  }

  /* Media-queriesss */
  /* Media-queriesss */
  /* Media-queriesss */

@media screen and (max-width:600px) {
    .nav-ul {
        width: 100%;
        flex-direction: column;
        display: none;
        margin-top: 1rem;
    }
    .nav-ul li{
        width:100%;
        text-decoration:none;
        border-top: 1px solid rgba(255,255,255,0.4);

    }
    .nav-ul li:last-child {
        border-bottom: 1px solid rgba(255,255,255,0.4);
        
    }
    .nav-link::before,
    .current::before{
        display: none;
    }
    .search {
        visibility: visible;
    }
    .hamburger{
        display: block;
    }
    .nav-ul .close{
        display: block;
    }
    .nav-ul.show {
        flex-direction: column;
        text-align: center;
    }

    .nav-ul.show .close {
        display: block;
    }
    .show{
        display: flex;
    }
    .hide{
        display: none;
    }
    .intro-text {
        width: 100%;
    }
    .intro-text h1 {
        font-size: 6rem;
    }
    .image-text {
        width: 100%;
    }
    .image-text h3{
        font-size: 1.5rem;
    }
    .image-text p{
        font-size: 0.75rem;
    }
    .contact{
        flex-direction: column;
    }
    .contact > * {
        margin: 3rem 0;
    }
}
@media (max-width: 830px) {
    .flex-container {
      flex-direction: column;
    }

    .flex-item-left, .flex-item-right {
        width:100%;

    }
}

@media (max-width: 480px) {
    .about-blurb, .alternate-about-blurb {
        font-size: small;
    }
}

@media (max-width: 380px) {
    .about-img {
        max-width: 100%;
        height: auto;
    }
} 

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      
    }
    .card-dara{
      margin-top: 20%;
    
    }
    #coding-image{
      display: none;
    }
}
