@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
:root{
    --white: #fff;
    --black: #000;
    --blue: #31326f;
    --light-blue: #258aff;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #e3eef8;
    --light-grey: #ccc;
    --dark-grey: #222831;
    --pink:#e9204f;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    font-size:10px;
}

p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    /*width:100%*/
}

section{
    width: 100%;
    padding: 8rem 0;
}
.container{
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding:0 2rem;
}

/* Header Section */
/* Header Section */
/* Header Section */
header{
    width:100%;
    background-color: var(--black);
    padding: 5px 0;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1.5rem;
}
nav .logo{
    width: 15rem;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-ul li a {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 0;
    margin-left: 3rem;
    color: var(--white);
}

.nav-link,
.current{
    position: relative;
}

.nav-link::before,
.current::before{
    position:absolute;
    content: "";
    left: 0;
    bottom:-3px;
    width: 50%;
    height: 2px;
    background-color: var(--pink);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .6s;
}
.current::before{
    transform: scaleX(1);
}
.nav-link:hover::before{
    transform: scaleX(1);
}

.burger,
.close,
.search{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
}
.hamburger{
    display: none;
}

.search{
    font-size: 1.8rem;
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem 3rem 0 0;
    display: none;
}

/* Intro Section */
#intro{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    z-index: -2;
}

#intro .container {
    background: url('../images/background.jpeg') no-repeat;
    background-position-x: 70%;
}
.line{
    position: relative;
    padding-top: 3rem;
}
.line::before{
    content: "";
    position: absolute;
    top: 5rem;
    left:0;
    width: 5rem;
    height: 3px;
    background-color: var(--pink);
}

.intro-text{
    width: 80%;
    padding: 8rem 0;
}
.intro-text h1{
    font-size: 8rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 5rem;
}

.btn{
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    border: 2px solid var(--pink);
    cursor: pointer;
    position:relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 99.5%;
    height: 100%;
    background-color: var(--pink);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before{
    transform: translateX(0);
}

/* intro boxes */
.intro-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
    margin-top: 2rem;
    z-index: 1;
}

.card{
    background-color: var(--dark-grey);
    padding: 6rem 3rem;
}

.card i {
    font-size: 4rem;
    color: var(--pink);
    padding-bottom: 3rem;
}

.heading-3 {
    font-size: 2.3rem;
    font-weight: 700;
}
.card h3{
    padding-bottom: 4rem;
}

.card .line::before {
    top: 7rem;
}

.cards:nth-child(3){
    position: relative;
    background-color: var(--dark-grey);
}

.card:nth-child(3)::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -1.5rem;
    width: 105%;
    height: 7rem;
    background-color: var(--pink);
    z-index: -1;
}

.card:nth-child(3)::after{
    position: absolute;
    content: "";
    right: -5%;
    bottom: -1.5rem;
    width: 5%;
    height: 7rem;
    background-color: var(--pink);
}


