.container {
  font-size: large;
}

.required:after {
    content:" *";
    color: red;
    font-size: medium;
  }

.red-text {
    color: red;
    font-size: medium;
}

.about{
  flex-wrap: wrap;
}


#fineprint {
  font-size: small;
}

::placeholder{
  font-style: italic;
  font-size: small;
}


