
/*my style*/

.flex-container { 
    display: flex;
    flex-direction: row;
    margin: 10px;
    border:10px;
    padding: 35px;
}

.flex-item-left{
    display: flex;
    width: 50%;
    height: 250px;
    flex-direction:column;
    padding: 10px;
    margin: 10px;
    border: 5px;
    text-align: left;
}

.flex-item-right{
    display: flex;
    width: 50%;
    height: 250px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 5px;
    position: relative;
}

.about-container{
    background-color: black;
    color: white;
    border: 10px solid var(--dark-grey);
    padding: 35px;
    padding: 10px;
    margin: 10px;   
}

.about-text{
    text-align: left;
    line-height: 1.8;
    font-size: 20px;
}
.alternate-about-blurb{
    text-align: left;
    
}

.about-blurb {
    text-align: right;
    margin-right: 35px;
    
    
}

.about-img {
    height: 190px;
    width: 190px;
    display: block;
    margin: auto;
    padding: 5px;
    border: 5px solid var(--pink);  
}

.mini-form-flex-container{
    display: flex;
    flex-direction: column;
}

.mini-form-flex-1{
    display: flex;
}

.mini-form-flex-2{
    display: flex;
}

@media (max-width: 830px) {
    .flex-container {
      flex-direction: column;
    }
    
    .flex-item-left, .flex-item-right {
        width:100%;
 
    }
  }

  @media (max-width: 480px) {
    .about-blurb, .alternate-about-blurb {
        font-size: small;
    }
  }

  @media (max-width: 380px) {
      .about-img{
          height: 130px;
          width: 130px;
          margin:auto;
      }
  }