/* Portfolio */
:root{
    --white: #fff;
    --black: #000;
    --blue: #31326f;
    --light-blue: #258aff;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #e3eef8;
    --light-grey: #ccc;
    --dark-grey: #222831;
    --pink:#e9204f;
}
.heading > *{
    padding-bottom: 2rem;
}
.heading h1{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 2rem;
}
#portfolio-header{
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    z-index: -2;
}
#portfolio-header .container {
        background: url("background.jpeg") no-repeat;
        background-position-y: 40%;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    row-gap: 4rem;
    column-gap: 2rem;
    margin-top: 2rem;
}

.portfolio-text{
    background-color: #eee;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    transition: all .3s;
}

.portfolio-text i:first-child{
    color: var(--pink);
    font-size: 2rem;
}

.portfolio-text:hover{
    background-color: var(--pink);
    color: var(--white);
    cursor: pointer;

}

.portfolio-text:hover i:first-child{
    color: var(--white);
}

.h-line{
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
}

.portfolio-image{
    margin-top: 1rem;
    position: relative;
}

.portfolio-image:hover{
    --webkit-box-shadow: -18px 3px 109px -65px rgba(0,0,0,.75);
    -moz-box-shadow: -18px 3px 109px -65px rgba(0,0,0,.75);
    box-shadow: -18px 3px 109px -65px rgba(0,0,0,.75);
    transition: .3s;
}

.portfolio-image span{
    position: absolute;
    top: 40%;
    left:45%;
    font-size: 40px;
    color: var(--black);
    cursor: pointer;
    opacity: 0;
}

.portfolio-image:hover span{
    opacity: 1;
    transition: .3s;
}

.portfolio-image:before{
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(238, 235, 230, .6);
    opacity: 0;
    position: absolute;
}
.portfolio-image:hover:before{
    opacity: 1;
    transition: .3s;
}

#footers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 3rem 0;
}

#footers p{
    text-align: center;
}

#footers i {
    color: var(--white);
    font-size: 2.5rem;
    border: 2px solid var(--pink);
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    text-align: left;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    transform: all .3s;
}

#footers i:hover{
    transform: translateY(-1rem);
}