
.form-container {
  font-size: large;
}

.required:after {
    content:" *";
    color: red;
    font-size: medium;
  }

.red-text {
    color: red;
    font-size: medium;
    margin-top: 15px;
}


.form-intro{
  text-align: left;
  width: 50%;
}


#fineprint {
  margin-top: 10px;
  font-size: small;
}

::placeholder{
  font-style: italic;
  font-size: small;
  color: black;
  border: 4px solid var(--pink);
}



.checkboxes{
  text-align: left;

}
.questions{
  text-align: left;
}
.inputs{
  text-align: left;
  width: 20em;
  color:black;
}

#header-text{
  margin-bottom: -10%;
}

#coding-image {
  height: 600px;
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    
  }
  .card{
    margin-top: 20%;
  
  }
  #coding-image{
    display: none;
  }
}

.services-header{
  font-size :24px;
  margin-bottom: 20px;
  padding-top: 50px;
  margin-bottom: 50px;
  color:white;
}

#card-margin{
  margin-top: 20%;
}

.odd{
  background-color:#222831;
}

.black-background{
  background-color:#222831;

}
.container-fluid{
  padding-left: 10%;
}
#message{
  text-align: center;
  font-size: 40px;
}
